<div>
    <h1>Sign in</h1>
    <form id="registerForm">
        <label> Name </label>
        <input name="first_name">
        <br/>
        <label> Last name </label>
        <input name="last_name">

        <label> Email </label>
        <input name="email">
        
        <label> Age </label>
        <input name="age">

        <label> Password </label>
        <input name="password" type="password">

        <input type="submit">
    </form>
    <p><a href="/login"> Log in </a> </p>
    <p> <a href="/api/sessions/github"> --Registrarse con Git Hub-- </a></p>

</div>
<script src="/js/register.js"></script>